﻿
<head>
    <title>Your Account Has Been Created - QuickBank</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>
<div class="container" style="margin-top:50px;display: flex; justify-content: center; align-items: center;">
    <img class="animate__animated animate__tada" src="~/lib/Images/TheSuccess.png" height="250" width="300" />
</div>
<div style="margin-top:10px;display: flex; justify-content: center; align-items: center;margin-bottom:60px;">
    <div class="mt-6 flex max-w-md gap-x-4">
        <a asp-controller="Bank" asp-action="Login">
        <button class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Login Now</button>
        </a>
    </div>
</div>